%h5 #{@question.title}

= render 'question', :question => @question

- unless @question.answer.nil?
  %h5 Лучший ответ
  = render 'question', :question => @question.answer

%h5 Ответы (#{@question.answers.length})
- @question.answers.each do |answer|
  %div{:style => "padding-bottom: 10px;"}
    %hr
    .pull-left
      = user_avatar(answer.user)
    .pull-left{:style => "padding-left:10px;"}
      %div{:style => "width: 410px;"}
        %div{:style => "min-height: 63px;"}
          %div #{link_to_user(answer.user)}
          %div #{answer.body}
        %div
          .pull-left
            %small #{l answer.created_at, :format => :comment}
          .pull-left{:style => "padding-left:10px;"}
            = link_to "Удалить", question_answer_path(@question, answer), :method => "DELETE"
          .pull-left{:style => "padding-left:10px;"}
            = link_to "Лучший ответ", best_answer_question_answer_path(@question, answer), :method => "POST"
          .clearfix
    .clearfix

- if @question.answer.nil?
  = render 'answers/form', :answer => @question.answers.new, :question_id => @question.id
