/ Адрес электронной почты блок
#sv-user-password.sv-article
  = form_for(user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, remote: true }) do |f|
    - if user.errors.any?
      .error_explanation
        %h2= t(:error, count: user.errors.count)
        %ul
          - user.errors.full_messages.each do |msg|
            %li= msg

    .title_nobg.top-marg Изменить пароль
    / блок изменения пароля
    .ovflhid
      .sv-l.rows-form
        - unless user.encrypted_password.blank?
          .list-form-seting
            %label Старый пароль:
            .notification.current-password Текущий пароль не может быть пустым
            = f.password_field :current_password, placeholder: 'Введите ваш текущий пароль', class: 'input-big inp-style inp-style-compact'
        .list-form-seting
          %label Новый пароль:
          .notification.password-too-short Пароль слишком короткий
          .separator{style: 'display: none;'}
          = f.password_field :password, placeholder: 'Введите новый пароль', autocomplete: 'on', class: 'input-big inp-style inp-style-compact'
        .list-form-seting
          %label Подтвердите пароль:
          .notification.password-dont-confirmated Пароли не совпадают
          .separator{style: 'display: none;'}
          = f.password_field :password_confirmation, placeholder: 'Подтвердите новый пароль', class: 'input-big inp-style inp-style-compact'

        = f.submit 'Изменить пароль ', class: 'link-style input-big sv-l', style: 'display: none;'
        %span.sv-l.yes-green-noclear.password-changed{style: 'display: none;'} Пароль успешно изменён
        %span.password-no Пароль не был изменён!
      .sv-l.description-row
        %p
          Для изменения пароля, введите ваш текущий пароль и придумайте новый
      .sv-l.description-row
        %p
          Пароль должен содержать от 6 до 20 символов.
          Можно использовать латинские буквы, цифры
          и символы из списка: ! @ # $ % ^ * ( ) _ - +
