#sv-read-it
  .title.clearfix
    - if link_to_back
      = link_to @client, class: 'sv-a-back sv-l' do
        %i.icon-chevron-left
    = link_to client_posts_path(@client) do
      %span
        Журнал
        %i= "(#{@client.posts.size})"

    .sv-choice.sv-r
      %ul
        - if current_page?(action: 'show')
          = paginate @posts, param_name: 'posts_page', remote: true, theme: 'switch-pages'
        - for_moderator_of @client do
          %li.add
            = link_to new_polymorphic_path([@client, :post]), data: { js: 'new-post-link' },
              remote: true, class: 'add sv-post-form-link' do
              %i добавить
    %ul
      %li.one
        = link_to '#', class: 'sv-view-tab active' do
          %i крупно
      %li.two
        = link_to '#', rel: :small, class: 'sv-view-tab' do
          %i компактно

  .sv-posts-search-form.sv-posts-search-form_visible
    - remote_type = current_page?(action: 'show') ? false : true
    = simple_form_for @search, url: client_posts_path(@client), html: { method: :get, id: 'posts-search-form', remote: remote_type } do |f|
      = f.input :show_type, as: :hidden
      .sv-posts-search-form__links
        - search_type = @search.show_type
        = link_to 'Все статьи',
                  path_search_posts_with_type(@client, 'all'), remote: true,
                  class: class_for_type_link(search_type, 'all')
        = link_to (current_client && @client.is?(current_client) ? 'Мои статьи' : 'Статьи'),
                  path_search_posts_with_type(@client, 'my'), remote: true,
                  class: class_for_type_link(search_type, 'my')
        = link_to 'Избранное',
                  path_search_posts_with_type(@client,'starred'), remote: true,
                  class: class_for_type_link(search_type, 'starred')
 
      = button_tag 'Найти', name: nil, class: 'sv-posts-search-form__btn find-button'
      = hidden_field_tag :link_to_back, link_to_back

      = f.input :fragment, required: true, placeholder: 'Поиск по статьям', label: false,
                input_html: { class: 'inp-style sv-posts-search-form__input sv-posts-search-form__input_small' }
      .clear

  #journal_form.sv-firm-post-form{ 'data-js' => 'new-post-form' }

  - if @posts.present?
    .sv-firm-posts
      = render 'posts/posts', posts: @posts

    - unless current_page?(action: :show)
      .sv-posts-hidden-nav
        = paginate @posts, param_name: 'posts_page'

  - else
    .sv-empty-section
      .sv-empty-section__inner
        - if params[:search][:posts_search_type] == 'starred'
          Еще нет ни одной избранной записи в журнале
        - elsif params[:search].has_key? :fragment
          По запросу '#{params[:fragment]}' ничего не найдено
        - elsif for_moderator_of(@client)
          Еще нет ни одной записи в журнале, хотите
          = link_to 'добавить запись?', new_client_post_path(@client), remote: true, class: 'sv-empty-section__link'
        - else
          Еще нет ни одной записи в журнале
