= link_to "Принятые", user_message_list_path
/
= link_to "Отправленные", user_message_list_path(:received => 1)

-unless params.has_key?(:received)
  %dl.dl-horizontal#received
    - @received_messages.each do |msg|
      %dt
        =link_to msg.user.full_name, user_page_path(msg.user_id)
      %dd
        %strong=msg.subject
        %div
          = msg.body
        %div
          = link_to "Ответить", new_user_message_path(msg.user, :subject => msg.subject), :remote => true
-else
  %dl.dl-horizontal#sent
    - @sent_messages.each do |msg|
      %dt
        =link_to msg.user.full_name, user_page_path(msg.user_id)
      %dd
        %strong=msg.subject
        %div
          = msg.body