.sv-album-form__buttons{style: "margin: 0px 0"}
  %p.choose_photos
    #{t 'socials.fromInstagram'}

  - @images.each do |image|
    .instagram_photo{id: "photo_#{image.media_id}"}
      = image_tag image.thumb_url
      = image_tag "galka.png", class: "galka", style: "visibility: hidden"
  .clear
  .controls
    = link_to '','#', class: "icon-chevron-left prev", style: "display: none", data: {first_image_id: @images.first.media_id}
    = link_to "Выбрать отмеченные фото", "#", class: "input-big link-style", id: "select_instagram_photos_btn"
    = link_to '','#', class: "icon-chevron-right next", data: {last_image_id: @images.last.media_id}

:javascript
  $.cookie.json = true;

  if(!!$.cookie("instagram_photo_ids") && $.cookie("instagram_photo_ids") !== 'null'){
    var instagram_photo_ids = $.cookie("instagram_photo_ids");
  }else{
    var instagram_photo_ids = [];
  }
  var divs = $("div[id*=photo][class*=instagram_photo]");
  var reg_exp = /[0-9]+[^a-z+]+[0-9]$/i;
  var upload_to = null;
  var upload_album_id = null;
  var min_image_in_poll = 2;
  var max_image_in_poll = 3;
  var valid_for_context = true;

  var validate_images_length = function(){
    if(instagram_photo_ids.length < min_image_in_poll || instagram_photo_ids.length > max_image_in_poll){
      valid_for_context = false;
    }else{
      valid_for_context = true;
    }
  }
  if('#{@referrer}'.indexOf("polls") === -1){
    var album_form = $("[data-js=album-photos-form]");
    upload_album_id = album_form[0].action.match(/[0-9]+$/)[0];
  }else{
    upload_to = "poll";
  }

  $.each(divs, function(index, elem){
      $(elem).click(function() {
          var full_id = this.id;
          var id = full_id.match(reg_exp)[0];

          if($(this).hasClass("checked")) {
              img = $(this).find('img')[0];
              galka_img = $(this).find('img')[1];

              $(galka_img).css('visibility', 'hidden');
              $(img).removeClass("thumb_selected");
              $(this).removeClass("checked");

              instagram_photo_ids = $.cookie("instagram_photo_ids");
              index = instagram_photo_ids.indexOf(id);
              instagram_photo_ids.splice(index, 1);

              $.cookie("instagram_photo_ids", instagram_photo_ids);
          } else {
              $(this).addClass("checked");
              img = $(this).find('img')[0];
              galka_img = $(this).find('img')[1];

              $(img).addClass("thumb_selected");
              $(galka_img).css('visibility', 'visible');

              instagram_photo_ids.push(id);
              $.cookie("instagram_photo_ids", instagram_photo_ids);
          }
      });
  });

  $("#select_instagram_photos_btn").on('click', function(){
    if(upload_to){
      validate_images_length();
    }

    if(valid_for_context){
      show_loader();
      $.get(
        "/instagram_media/download",
        {
          instagram_photo_ids: $.cookie("instagram_photo_ids"),
          upload_to: upload_to,
          album_id: upload_album_id
        }
      ).done(function(data) {
          $.cookie("instagram_photo_ids", null);
      });
    }else{
      alert("Чтобы создать опрос, вы должны выбрать от 2 до 3 изображений");
    }
  });

  function show_loader(){
    $(".sv-album-form__buttons").css('opacity', '0.6');
    $(".sv-album-form__buttons").append("<img src=/assets/loading.gif class=loading>");
  };
