.sv-album-form
  .title_nobg.sv-album-form__title
    %ul.sv-modal-tabs.clearfix
      %li.active
        = link_to 'Создать альбом', '#tab-album', 'data-toggle' => 'tab'
      %li
        = link_to 'Загрузить фотографии', '#tab-photos', 'data-toggle' => 'tab'
  .tab-content
    .tab-pane#tab-album.active
      = render 'albums/form'
    .tab-pane#tab-photos
      = render 'albums/photos_form'

= render 'albums/warning'
