= link_to('#', data: {toggle: "dropdown"}, id: 'menu-settings', class: 'btn btn-icon rounded') do
  %i.icon.ion-ios7-gear
%ul.dropdown-menu.dropdown-extend(role="menu" aria-labelledby="menu-settings")
  %li= link_to(t('layouts.header.client.settings.privacy'), '#')
  %li= link_to(t('layouts.header.firm.settings.contract'), '/contract')
  %li= link_to(t('.edit'), edit_client_url(client))
  %li= link_to(t('.logout'), destroy_user_session_url, method: :delete)