= render partial: 'layouts/admin_tab_menu',  locals: { select: 'static_pages' }

.static-page{'data-js' => 'static-page-show'}

  .page-links
    - if @page.is_visible?
      = link_to @page.link, static_page_path(@page.link), class: 'link-style'

    = link_to 'Редактировать', edit_admin_static_page_path(@page), class: 'link-style'
    .page-visible{class: "visible-#{@page.is_visible?}"}= @page.is_visible? ? 'Показыватся польлзователям' : 'Скрыта от пользователей'

  %h1.title= @page.title

  .redactor_editor
    .page-content= @page.content.html_safe
